<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Recordatorios</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <link rel=StyleSheet href="../css/recordatorios.css">

</head>
<body>
    <div id="app" class="">
        <div class="ml-3 ">
            <div class="center-block">

                <input type="text" size="74" v-model="texNota" v-on:keyup.enter="addRecord">      
                <button class="btn btn-success" v-on:click="addRecord">+</button></br></br> 
                <label class="">Filtro:</label>
                <input type="text" size="71" v-model="rating" v-on:keyup.enter="ordenar">      

                <table class="w-50 "> 
                    <!--<tr v-for="(recuerda, index) in recordatorios ">-->
                    <tr v-for="(recuerda, index) in ordenarRecordatorios ">
                        <!--<recordatorio v-bind:texto="recuerda.text" v-bind:checked="recuerda.checked"></recordatorio>-->
                        <td class=" text-justified border border-white " v-bind:class="{sub:recuerda.checked}" v-model="chequear()">
                                <input type="checkbox" id="cbox1" value="{{recuerda.text}}" v-model="recuerda.checked" aria-label="Text input with checkbox">
                                {{recuerda.text}}
                                <button class="btn btn-danger float-right btDel  " v-on:click="delRecord(recuerda)">x</button></br>
                                <!--<div class="input-group">
                                    <div class="input-group-prepend ">
                                        <div class="input-group-text ">
                                                <input type="checkbox" id="cbox1" value="{{recuerda.text}}" v-model="recuerda.checked" aria-label="Text input with checkbox">
                                        </div>
                                    </div>
                                    <div class="w-75">
                                        {{recuerda.text}}
                                        <button class="btn btn-danger float-right  btDel  " v-on:click="delRecord(recuerda)">x</button>
                                    </div>
                                </div>-->

                        </td>
                    </tr>
                </table>
            </div></br>
            <label>Completadas: {{totalcompletadas}} de {{total}}</label></br></br> 
            <button class=" btn btn-danger" v-on:click="delCompletadas">Borrar completadas</button></br>
        </div>
    </div>

    <script language="JavaScript" type="text/javascript" src="../vue/miVue.js"></script>



</body>
</html>